
<div id="page-wrapper">     <br>
  <div class="row">
   <div class="col-lg-12">
     <div class="panel panel-info">
       <div class="panel-heading">
           <h4> Cadastro Ocorrencias </h4>   
       </div>  <br>
       <div class="container-fluid" >
            
            <form name="ocorrenciaForm">
                  
                  
     <div class="row"> <p> 

           <!--*************************************************************CheckList-->
        <div class="col-md-6"> 
            <div class="panel panel-red">
                <div class="panel-heading">
                CheckList
                </div>

                <div class="panel-body">
                   <div class="col-lg-12">  <label>CheckPoint</label>    <input class="form-control"    type="number" ng-model="ocorrencia.idPontoCtrl  " name="chek" placeholder="Codigo CheckPoint"  ng-required="true" /> </div>

                     <div ng-show="ocorrenciaForm.chek.$dirty" ng-messages="ocorrenciaForm.chek.$error">
                        <div ng-message="required" class="alert alert-danger">
                               Por favor, preencha o campo Codigo da  CheckPoint!
                        </div>
                     </div>

                     <div class="col-lg-12">
                         <select class="form-control" ng-model="checklist" ng-options="checklist.descriChklist + ' ( ' + (checklist.id) + ' )' for checklist in checklists | orderBy:'descriChklist'">
                            <option value="">Lista de CheckPoint</option>
                         </select>
                     </div>                    
                </div>

            </div>
        </div>                          
        <!--*************************************************************Colaboradores-->
        <div class="col-lg-6"> 
            <div class="panel panel-red">
                <div class="panel-heading">
                  Colaboradores
                </div>

                <div class="panel-body">
                    <div class="col-lg-12">  <label>Colaborador</label>  <input class="form-control"  type="number" ng-model="ocorrencia.idCola " name="cola" placeholder="Codigo Colaborador"  ng-required="true"/> </div>
                     <div ng-show="ocorrenciaForm.cola.$dirty" ng-messages="ocorrenciaForm.cola.$error">
                        <div ng-message="required" class="alert alert-danger">
                               Por favor, preencha o campo Codigo da Colaborador!
                        </div>                              
                     </div>

                     <div class="col-lg-12">
                         <select class="form-control" ng-model="colaborador" ng-options="colaborador.nomeCola + ' ( ' + (colaborador.id) + ' )' for colaborador in colaboradores | orderBy:'nomeCola'">		        	
                          <option value="">lista de Colaboradores</option>
                          </select>
                     </div>   
                    <div >
                       <a class="btn btn-outline btn-success  btn-sm glyphicon glyphicon-pencil "   name="s" href="#/cadOcorrencias" > Novo Colaborador</a>
                    </div>
               </div>
            </div>
          </div> 
         </div>    <p> 
                <!-- ***************************************************************************dados Auditorias -->            
             <div class="row"> <p>       
               <div class="col-lg-12"> 
                 <div class="panel panel-red">
                   <div class="panel-heading">
                       Dados da Ocorrência
                    </div>
                        
                        <div class="panel-body">
                           <div class="panel-collapse">
                               <input class="form-control" type="hidden" ng-model="ocorrencia.descriOcorre " id="desc" name="des" placeholder="Descrição Auditoria" 
                                  ng-required="true" ng-minlength="1" ng-maxlength="400"/>
          
                               <div  class="col-lg-12"> <label>Descrição Oncorrênca</label>  <textarea class="form-control" pattern="[A-Za-z]++"  type="text" ng-model="ocorrencia.descriOcorre " name="des"  placeholder="Descrição....." ng-required="true"   ng-minlength="10" ng-maxlength="500"></textarea> </div>
        <!--************************************************  Validadção dos campos *****************************************-->
                               <div ng-show="ocorrenciaForm.des.$dirty" ng-messages="ocorrenciaForm.des.$error">
		                    <div ng-message="required" class="alert alert-danger">
			                      Por favor, preencha o campo Descrição !
		                    </div>
                                   <div ng-message="minlength" class="alert alert-danger">
                                              O campo Descrição deve ter no minimo 10 caracteres.
                                    </div>
                                    <div ng-message="maxlength" class="alert alert-danger">
                                              O campo Descriçãos deve ter no maximo 500 caracteres.
                                    </div>
	                      </div><br>
                           </div>
                        </div> 
                        
                        <div class="panel-body">
                           <div class="panel-collapse">
                               <input class="form-control" iu-date type="hidden" ng-model="ocorrencia.sugesOcorre" name="sug"  placeholder="Objetivo...." ng-required="true" ng-minlength="1" ng-maxlength="500"/>

                               <div class="col-lg-12"> <label>Sugestão sobre a Ocorrência</label> <textarea class="form-control" iu-date type="text" ng-model="ocorrencia.sugesOcorre" name="sug"  placeholder="Sugestão..." ng-required="true" ng-minlength="10" ng-maxlength="400"/></textarea> </div>
        <!--************************************************  Validadção dos campos *****************************************-->
                              <div ng-show="ocorrenciaForm.sug.$dirty" ng-messages="ocorrenciaForm.sug.$error">
		                    <div ng-message="required" class="alert alert-danger">
			                      Por favor, preencha o campo Objetivo !
		                    </div>
                                   <div ng-message="minlength" class="alert alert-danger">
                                              O campo Objetivo deve ter no minimo 10 caracteres.
                                    </div>
                                    <div ng-message="maxlength" class="alert alert-danger">
                                              O campo Objetivo deve ter no maximo 500 caracteres.
                                    </div>
	                       </div><br>
                          
                           </div>
                        </div>
                </div>
               </div>  
            </div>  <p>  
            
            <!-- ***************************************************************************data e hora -->
            <div class="row"> <p>   
                     
              <div class="col-md-3">
                <div class="panel panel-default">
                        <div class="panel-heading">
                           Data da Ocorrência
                        </div>
                    <div class="panel-body" style="text-align: center;"> 
                        <div class="col-lg-12"> <input class="form-control" placeholder="DD/MM/AAAA HH:MM:SS" type="text" ng-model="ocorrencia.dtHrOcorre" name="dtHrO " ng-required="true" ng-minlength="19"/></div>
                          <div ng-show="ocorrenciaForm.dtHrO.$dirty" ng-messages="ocorrenciaForm.dtHrOcorre.$error">
		            <div ng-message="required" class="alert alert-danger">
			          Por favor, preencha o campo Data / Hora Cadastro da Ocorrência!
		            </div>
                            <div ng-message="minlength" class="alert alert-danger">
                                O formato DD/MM/AAAA HH:MM:SS.
                             </div>
	                  </div>
                        <!--  <div ng-show="ocorrenciaForm.dthrcad.$error.pattern" class="alert alert-danger">
		                  O campo telefone deve ter o formato dd/mm/aaaa
                          </div>
                         -->   
                               <a class="btn btn-outline btn-danger  btn-sm glyphicon glyphicon-calendar "   name="d"  > </a>
                    </div>
                </div>
              </div>
            
                <!--*********************<div class="row"> <p>***********************************************Observação--> 
             
              <div class="col-lg-9"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Observação
                        </div>
                        <div class="panel-body"> 
                            <div class="col-lg-12">
                                <textarea  ng-model="ocorrencia.obsOcorre" name="obs" class="form-control" rows="2" ></textarea> 
                                 <input class="form-control" type="hidden"   ng-model="ocorrencia.statusOcorre" name="status" placeholder="Status" />      
                            </div>
                        </div>
                    </div>
              </div> <p>                                   
            </div>   <p>   
                 
            </form>
           <hr>
           <!--botoes-->
          <div style="padding-left:280px;"   >
            <a class="btn btn-outline  btn-lg  btn-primary glyphicon glyphicon-floppy-save" ng-click="ocorrencia.statusOcorre ='A';adicionarOcorrencia(ocorrencia)" ng-disabled="ocorrenciaForm.$invalid"> ADICIONAR</a>
            <a href="#/ocorrencias" class="btn btn-lg btn-outline btn-danger glyphicon glyphicon-remove"> CANCELAR</a>
          </div>
           
           </div> <br>   	
	  </div>
         </div>              
                   <div ng-include="'footer.html'"></div>            
    </div>
               <p>Formaçao do Objeto(json): {{ocorrencia | json }}</p>''             
  </div>