<div id="page-wrapper">     <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4> Ocorrencias </h4>   
        </div>  <br>
        <div class="container-fluid" style="alignment-adjust:central;">
        <!--  < style="background-color: #dff0d8;">  -->

          <!--formulario-->
          <form name="ocorrenciaForm">
            <input class="form-control" type="text" ng-model="ocorrencia.descriOcorre" name="descriOcorre" placeholder="Descrição" 
                  ng-required="true" ng-minlength="3"/>

            <input class="form-control" type="text" disabled="" ng-model="ocorrencia.idPontoCtrl" name="idPontoCtrl" 
                  placeholder="CheckList" ng-required="true" />

            <input class="form-control" type="text" ng-model="ocorrencia.statusOcorre" name="statusOcorre" placeholder="Status" 
                  ng-required="true" ng-minlength="1" ng-maxlength="1"/>

            <input class="form-control"  type="text" ng-model="ocorrencia.dtHrOcorre" name="dtHrOcorre"ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/" ng-required="false" ng-minlength="2" ng-maxlength="19" placeholder="dtHrOcorre"/> <!--  ui-date -->

            <input class="form-control"  type="text" ng-model="ocorrencia.dtAtualiza" name="dtAtualiza" ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/" 
                  ng-required="false" ng-minlength="2" ng-maxlength="18" placeholder="dtAtualiza"/>

            <select name="idPontoCtrl"  class="form-control" ng-model="ocorrencia.idPontoCtrl ">
            <option value="">Selecione o CheckList</option>
            <option value="1">1</option>
            <option value="2">2</option>
            </select>

            <input class="form-control" type="text" ng-model="ocorrencia.sugesOcorre" name="sugesOcorre" placeholder="sugestão" 
            ng-required="true" ng-minlength="250"/>

            <div class="controls controls-row">
              <input class="span1" type="text"  ng-model="ocorrencia.idCola" name="idCola" 
              placeholder="Codigo Colab." ng-required="true" ng-maxlength="4"/>

              <input class="span12" type="text"  ng-model="colaborador.nomeCola" name="idCola" 
              placeholder="Nome Colab." ng-required="true" ng-maxlength="4"/>
            </span>

            <input class="form-control" type="text" ng-model="ocorrencia.obsOcorre" name="obsOcorre" placeholder="Obs.." 
            ng-required="true" ng-minlength="2" ng-maxlength="90"/>
          </form>

          <!--autent campos-->
          <div ng-show="ocorrenciaForm.descriOcorre.$dirty" ng-messages="ocorrenciaForm.descriOcorre.$error">
            <div ng-message="required" class="alert alert-danger">
              Por favor, preencha o campo descrição!
            </div>
            <div ng-message="minlength" class="alert alert-danger">
              O campo descrição deve ter no mínimo 3 caracteres.
            </div>
          </div>

          <div ng-show="ocorrenciaForm.statusOcorre.$dirty" ng-messages="ocorrenciaForm.statusOcorre.$error">
            <div ng-message="required" class="alert alert-danger">
              Por favor, preencha o campo status!
            </div>
            <div ng-message="minlength" class="alert alert-danger">
              O campo Status deve ter  1 caracteres.
            </div>
            <div ng-message="maxlength" class="alert alert-danger">
              O campo Status deve ter  1 caracteres.
            </div>
          </div>

          <div ng-show="ocorrenciaForm.dtHrOcorre.$dirty" ng-messages="ocorrenciaForm.dtHrOcorre.$error">
            <div ng-message="required" class="alert alert-danger">
              Por favor, preencha o campo Data / Hora Cadastro da Ocorrencias!
            </div>
            <div ng-show="ocorrenciaForm.dtHrOcorre.$error.pattern" class="alert alert-danger">
              O campo dtHrOcorre deve ter o formato dd/mm/aaaa
            </div>
          </div><br>

          <!--botoes-->
          <div style="padding-left:280px;"   >
            <a class="btn btn-primary glyphicon glyphicon-floppy-save" ng-click="adicionarOcorrencia(ocorrencia)" ng-disabled="ocorrenciaForm.$invalid"> ADICIONAR</a>
            <a href="#/ocorrencias" class="btn btn-danger glyphicon glyphicon-remove"> CANCELAR</a>
          </div> 
        </div> <br>
      </div> <br>
      <div ng-include="'footer.html'"></div>

      <!--<p>Data: {{ today | date}}</p>  -->
    </div><!-- /.row -->
    <p>Formaçao do Objeto(json): {{ocorrencia| json }}</p>''
  </div><!-- /#page-wrapper -->
</div> <!-- /#wrapper -->
