<div id="page-wrapper">     <br>
  <div class="row">
   <div class="col-lg-12">
     <div class="panel panel-info">
       <div class="panel-heading">
           <h4> Cadastro Certificadoras </h4>   
       </div>  <br>
       <div class="container-fluid" style="alignment-adjust:central;">
            <!--  < style="background-color: #dff0d8;">  -->
         
	<form name="CertificadoraForm">
		<input class="form-control" type="text" ng-model="certificadora.Cep" name="Cep" placeholder="Cep" 
                ng-required="true" ng-minlength="9"/>
                
                
		<input class="form-control" type="text" ng-model="certificadora.RAZAOCERT" name="RAZAOCERT" placeholder="Razao Social" 
                    ng-required="true" ng-minlength="3" ng-maxlength="50"/>
        
        <input class="form-control" type="text" ng-model="certificadora.FANTACERT" name="FANTACERT" placeholder="Nome Fantasia" 
                    ng-required="true" ng-minlength="3" ng-maxlength="50"/>
        
        <input class="form-control" type="text" ng-model="certificadora.COMPLEENDCERT" name="COMPLEENDCERT" placeholder="Complemento do                Endereço" 
                    ng-required="true" ng-minlength="3" ng-maxlength="50"/>
        
        <input class="form-control" type="text" ng-model="certificadora.FONE1CERT" name="FONE1CERT" placeholder="Telefone" 
                    ng-required="true" ng-minlength="1" ng-maxlength="12"/>
        
        <input class="form-control" type="text" ng-model="certificadora.FONE2CERT" name="FONE2CERT" placeholder="Celular" 
                    ng-required="true" ng-minlength="1" ng-maxlength="12"/>
        
        <input class="form-control" type="text" ng-model="certificadora.EMAILCERT" name="EEMAILCERT" placeholder="E-mail" 
                    ng-required="true" ng-minlength="1" ng-maxlength="50"/>
        
        
        <input class="form-control" type="text" ng-model="certificadora.SITECERT" name="SITECERT" placeholder="Site" 
                    ng-required="true" ng-minlength="1" ng-maxlength="50"/>
        
        <input class="form-control" type="text" ng-model="certificadora.CONTATOCERT" name="CONTATOCERT" placeholder="Responsavel" 
                    ng-required="true" ng-minlength="1" ng-maxlength="20"/>
        
        <input class="form-control" type="text" ng-model="certificadora.CNPJCERT" name="CNPJCERT" placeholder="CNPJ" 
                    ng-required="true" ng-minlength="1" ng-maxlength="14"/>
        
        <input class="form-control" type="text" ng-model="certificadora.INSCRICERT" name="INSCRICERT" placeholder="Incrição" 
                    ng-required="true" ng-minlength="1" ng-maxlength="14"/>
        
        <input class="form-control" type="text" ng-model="certificadora.OBSCERT" name="OBSCERT" placeholder="OBS:" 
                    ng-required="true" ng-minlength="1" ng-maxlength="50"/>
        
        <input class="form-control" type="text" ng-model="certificadora.STATUSCERT" name="STATUSCERT" placeholder="Status" 
                    ng-required="true" ng-minlength="1" ng-maxlength="1"/>
        
                
	</form>
     
	<div ng-show="certificadoraForm.Cep.$dirty" ng-messages="certificadoraForm.Cep.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo CEP!
		</div>
		<div ng-message="minlength" class="alert alert-danger">
			O campo CEP deve ter no mínimo 8 caracteres.
		</div>
	</div>
     
       	<div ng-show="certificadoraForm.RAZAOCERT.$dirty" ng-messages="certificadoraForm.RAZAOCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Razão Social!
		</div>
            
        <div ng-show="certificadoraForm.FANTACERT.$dirty" ng-messages="certificadoraForm.FANTACERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Nome Fantasia!
		</div>
            
        <div ng-show="certificadoraForm.COMPLEENDCERT.$dirty" ng-messages="certificadoraForm.COMPLEENDCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Complemento de Endereço!
		</div>
            
        <div ng-show="certificadoraForm.FONE1CERT.$dirty" ng-messages="certificadoraForm.FONE1CERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Telefone!
		</div>
            
        <div ng-show="certificadoraForm.FONE2CERT.$dirty" ng-messages="certificadoraForm.FONE2CERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Celular!
		</div>
            
        <div ng-show="certificadoraForm.EMAILCERT.$dirty" ng-messages="certificadoraForm.EMAILCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo E-mail!
		</div>
            
        <div ng-show="certificadoraForm.SITECERT.$dirty" ng-messages="certificadoraForm.SITECERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Site!
		</div>
            
        <div ng-show="certificadoraForm.CONTATOCERT.$dirty" ng-messages="certificadoraForm.CONTATOCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Responsavel!
		</div>
            
        <div ng-show="certificadoraForm.CNPJCERT.$dirty" ng-messages="certificadoraForm.CNPJCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo CNPJ!
		</div>
            
        <div ng-show="certificadoraForm.INSCRICERT.$dirty" ng-messages="certificadoraForm.INSCRICERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Inscrição certificador!
		</div>
            
        <div ng-show="certificadoraForm.OBSCERT.$dirty" ng-messages="certificadoraForm.OBSCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Observação!
		</div>
            
        <div ng-show="certificadoraForm.STATUSCERT.$dirty" ng-messages="certificadoraForm.STATUSCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Status!
		</div>
		
        
	</div><br>
     
        <div style="padding-left:280px;"   >
              <a class="btn btn-primary glyphicon glyphicon-floppy-save" ng-click="adicionarcertificadora(certificadora)" ng-disabled="certificadoraForm.$invalid"> ADICIONAR </a>
              <a href="#/certificadora"  class="btn btn-danger glyphicon glyphicon-remove"  > CANCELAR</a>
         </div> 
        </div> <br><br>
       </div> <br>
                              <div ng-include="'footer.html'"></div>
    </div><!-- /.row -->
    <p>Formaçao do Objeto(json): {{certificadora | json }}</p>''
   </div><!-- /#page-wrapper -->
  </div> <!-- /#wrapper -->
