<div id="page-wrapper">    <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Lista de Equpe de Auditores</h4>   
        </div> <br>
        <div class="container-fluid">
          <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por Equipe.."/>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="home-pills">
                <div class="panel-body">
                  <div class="dataTable_wrapper">

                    <!--tabela-->
                    <table ng-show="equipeauditores.length > 0" class="table table-striped table-bordered table-hover" id="dataTables-example">		
                      <tr>  
                        <th> </th>
                        <th><a href="" ng-click="ordenarPor('tipoAuditor')"> Tipo Auditor</a></th>                    
                        <th>Codigo Auditor</th>
                        <th>Codigo Auditoria</th>                       
                        <th>Data e Hora formação Equipe</th>
                        <th>Status</th>
                      </tr>
                      <tr ng-class="{'selecionado negrito': equipeauditor.selecionado}" ng-repeat="equipeauditor in equipeauditores | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                        <td><input type="checkbox" ng-model="equipeauditor.selecionado"/></td>
                        <td>{{equipeauditor.idAuditor }}</td>
                        <td>{{equipeauditor.idaudit }}</td>
                        <td>{{equipeauditor.tipoAuditor | uppercase}}</td>
                        <td>{{equipeauditor.dtHrIncEquipe}}</td>
                        <td>{{equipeauditor.statusEquipe}}</td>
                      </tr>
                      </table>
                      <hr/>

                      <!--botoes-->
                      <a class="btn btn-primary btn-block" href="#/cadEquipeAuditores">Nova Equipe Auditores</a>
                      <button class="btn btn-danger btn-block" ng-click="apagarEquipeAuditores(equipeauditores)" ng-if="isAuditorSelecionado(equipeauditores)">Apagar Equipe Auditores</button>
                      
                  </div><br>       
                </div>
              </div>
             </div>                    
           </div>
          </div>    
      <div ng-include="'footer.html'"></div>
    </div><!-- /#page-wrapper -->
  </div> <!-- /#wrapper -->
</div>
