<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link href="docs/assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
</head>
    <div class="container"
     <div class="page-header">  <h3>Pagina Home!</h3> </div>
     <div >
     
        <p >
        Responsive Design: dicas para tornar seu site acessível em qualquer resoluçãoRicardo Arrigoni

Olá leitores da DevMedia, nesse artigo serão passadas para vocês algumas dicas muito importantes para se levar em 
consideração quando o assunto é design responsivo. O que é design responsivo ?

Design Responsivo é uma técnica de estruturação HTML e CSS, que consiste em adaptar o site ao browser do usuário 
sem que seja necessário definir várias folhas de estilos especíificaspara cada resolução, ou seja, é um tipo de design 
onde o layout fica fluído e variante de acordo com a resolução do usuário.</p>
 
               
</div>
    </div>

<body>
</body>
</html>