


    <!doctype html>
    <html ng-app="app">
       <head>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <meta http-equiv="content-language" content="pt-br" />
          <title>AngularJS: Single Page com ngView e ngRoute</title>
          <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" />
       </head>
     
       <body>
       <!-- sobre.html -->
    <div class="page-header">
       <h1>Página Sobre!</h1>
    </div>
       </body>
    </html>
