<div id="page-wrapper">     <br>
  <div class="row">
   <div class="col-lg-12">
     <div class="panel panel-info">
       <div class="panel-heading">
           <h4> Cadastro Auditorias </h4>   
       </div>  <br>
       <div class="container-fluid" style="alignment-adjust:central;">
            <!--  < style="background-color: #dff0d8;">  -->
         
	<form name="auditoriasForm">
            <input class="form-control" type="text" ng-model="auditoria.descriAudit " name="desc" placeholder="Descrição Auditoria" 
            ng-required="true" ng-minlength="1" ng-maxlength="14"/>
            
	    <input class="form-control" type="number" ng-model="auditoria.idCert  " name="cert" placeholder="Codigo Certificadora" 
                ng-required="true" />                
                
	    <input class="form-control" type="number" ng-model="auditoria.idCli " name="clie" placeholder="Codigo Cliente" 
                    ng-required="true" ng-minlength="1" ng-maxlength="100"/>      

            <input class="form-control" iu-date type="text" ng-model="auditoria.descriObjAudit" name="obj"  placeholder="Objetivo Auditoria" 
                        ng-required="true" ng-minlength="1" ng-maxlength="10"/>

            <input class="form-control" type="text" ng-model="auditoria.dtHrCadAudit" name="dthrcad" ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/" placeholder="Data / Hora cadastro Auditoria" 
                      ng-required="true" />          


            <input class="form-control" type="text" ng-model="auditoria.dtHrIniAudit " name="dthrini" placeholder="Data / Hora Inicial da Auditoria " 
                        ng-required="true" />

            <input class="form-control" type="text" ng-model="auditoria.dtHrRealiaudit " name="dthrreal" placeholder="Data / Hora da realização da Auditoria" 
                        ng-required="true" />

            <input class="form-control" type="text" ng-model="auditoria.dtAtualiza " name="dthratual" placeholder="Data da Atualização" 
                        ng-required="true" />

            <input class="form-control" type="text" ng-model="auditoria.obsaudit" name="obs" placeholder="OBS" 
                        ng-required="true" ng-minlength="1" ng-maxlength="100"/>

            <input class="form-control" type="hidden"   ng-model="auditoria.statusaudit" name="status" placeholder="Status" > 
      
	
             
	</form>   
            <!--************************************************************************************************-->
             <div ng-show="auditoriasForm.IDCERT.$dirty" ng-messages="auditoriasForm.IDCERT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Codigo da Sertificadora!
		</div>
	    </div>
  
            <div ng-show="auditoriasForm.IDCLI.$dirty" ng-messages="auditoriasForm.IDCLI.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Codigo Cliente!
		</div>
		
	    </div>                    
           
            <div ng-show="auditoriasForm.DESCRIAUDIT.$dirty" ng-messages="auditoriasForm.DESCRIAUDIT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Descrição !
		</div>
		
	    </div>
  
     
           <div ng-show="auditoriasForm.DESCRIOBJAUDIT.$dirty" ng-messages="auditoriasForm.DESCRIOBJAUDIT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Objetivo da Auditoria!
		</div>
		
	    </div>
               
	    <div ng-show="auditoriasForm.dthrcad.$dirty" ng-messages="auditoriasForm.dthrcad.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Data / Hora Cadastro da Auditoria!
		</div>
                <div ng-show="auditoriasForm.dthrcad.$error.pattern" class="alert alert-danger">
		O campo telefone deve ter o formato dd/mm/aaaa
                </div>
	   </div>
		
	    </div>
  
            <div ng-show="auditoriasForm.DTHRINIAUDIT.$dirty" ng-messages="auditoriasForm.DTHRINIAUDIT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Data / Hora de inicio da Auditoria !
		</div>
		
	    </div>
           
            <div ng-show="auditoriasForm.DTHRREALIAUDIT.$dirty" ng-messages="auditoriasForm.DTHRREALIAUDIT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Data / Hora Realização Auditoria!
		</div>
		
	    </div>
    
            <div ng-show="auditoriasForm.DTATUALIZA.$dirty" ng-messages="auditoriasForm.DTATUALIZA.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Data Atualizada Auditoria!
		</div>
		
	    </div>
     
            <div ng-show="auditoriasForm.OBSAUDIT.$dirty" ng-messages="auditoriasForm.OBSAUDIT.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Observação!
		</div>
		
	    </div>
            
            <div ng-show="auditoriasForm.STATUSaudit.$dirty" ng-messages="auditoriasForm.STATUSaudit.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo Status!
		</div>
		
	    </div><br>
            
           <!--botoes-->
          <div style="padding-left:280px;"   >
              <a class="btn btn-primary glyphicon glyphicon-floppy-save"    ng-click="(auditoria.statusaudit ='A');adicionarAuditoria(auditoria)" ng-disabled="auditoriasForm.$invalid" > ADICIONAR AUDITORIA</a>
              <a href="#/auditorias"  class="btn btn-danger glyphicon glyphicon-remove"> CANCELAR</a>   
         </div> 
        </div> <br>
       </div>              
                   <div ng-include="'footer.html'"></div>            
    </div>
               <p>Formaçao do Objeto(json): {{auditoria | json }}</p>''                        
  </div>        

   
   