<div id="page-wrapper"><br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Lista de Não Conformidades</h4>   
                </div><br>
                <div class="container-fluid">
                    <a class="btn btn-outline btn-success glyphicon glyphicon-plus" href="#/cadNCs"> Novo(a)</a><hr>
                    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por Descrição da nc.."/>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-pills">
                            <div class="panel-body">
                                <div class="table-responsive">

                                    <!--tabela-->
                                    <table ng-show="NCs.length > 0" class="table table-striped">
                                        <tr>			
                                            <th>Id Colaborador</th>
                                            <th>Id Ponto de Controle</th>
                                            <th>Dt/Hr do Cadastro</th>
                                            <th>Data Prevista para Resolver</th>
                                            <th><a href="" ng-click="ordenarPor('descriNc')">Descrição</a></th>
                                            <th>Sugestão</th>
                                            <th>Status</th>
                                            <th>Observação</th>
                                            <th>Editar</th>
                                            <th>Excluir</th>
                                            </tr>
                                        <tr ng-class="{'Selecionado negrito': nc.selecionado}" ng-repeat="nc in NCs | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                            <td>{{nc.idCola}}</td>
                                            <td>{{nc.idPontoCtrl}}</td>
                                            <td>{{nc.dtHrCadNc | date:'dd/MM/yyyy HH:mm'}}</td>
                                            <td>{{nc.dtPrevResolNc | date:'dd/MM/yyyy'}}</td>
                                            <td>{{nc.descriNc | uppercase}}</td>
                                            <td>{{nc.sugestaoNc}}</td>
                                            <td>{{nc.statusNc}}</td>
                                            <td>{{nc.obsNc}}</td>
                                            <td><a href="#/editNCs/{{nc.id}}"class="btn btn-outline btn-warning btn-sm glyphicon glyphicon-edit"></a></td>
                                            <td><a href="#/deleteNC/{{nc.id}}"class="btn btn-outline btn-danger  btn-sm glyphicon glyphicon-remove"></a></td>
                                        </tr>
                                    </table>

                                </div><br>       
                            </div><br> 
                        </div>
                    </div>                    
                </div>
            </div>
            <div ng-include="'footer.html'"></div>
        </div><!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->
</div>
