<div class="jumbotron">
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por cidade.."/>
	<table ng-show="cidades.length > 0" class="table table-striped">
		<tr>
			<th></th>
   <!--			<th>Serial</th>    -->
			<th><a href="" ng-click="ordenarPor('nome')">Cidade</a></th>
                        <th>Uf</th>
			<th>Status</th>
			
		</tr>
		<tr ng-class="{'selecionado negrito': cidade.selecionado}" ng-repeat="cidade in cidades | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td><input type="checkbox" ng-model="cidade.selecionado"/></td>
	 <!--		<td>{{contato.serial}}</td> -->
			<td>{{cidade.nomeCid | name}}</td>
			<td>{{cidade.siglaUf}}</td>
			<td>{{cidade.statusCid}}</td>
			
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/CadCidades">Nova Cidade</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(cidades)" ng-if="isContatoSelecionado(cidades)">Apagar Cidades</button>
</div>